In [8]:
import numpy as np
import pandas as pd
import csv
import json
import matplotlib.pyplot as plt
from datetime import datetime
from tqdm import tqdm 
%matplotlib inline

In [12]:
PATH_TO_FILE = "yelp_academic_dataset_checkin.csv"

In [13]:
df = pd.read_csv(PATH_TO_USER_FILE)

In [23]:
nrow = df.shape[0]

In [37]:
times = [col for col in df.columns if 'time.' in col]
checkins = dict.fromkeys(times, 0)
for key in checkins.keys():
    df[key].fillna(0)
    checkins[key] = df[key].max()
checkins

{'time.Fri-0': 1132.0,
 'time.Fri-1': 1332.0,
 'time.Fri-10': 456.0,
 'time.Fri-11': 434.0,
 'time.Fri-12': 588.0,
 'time.Fri-13': 789.0,
 'time.Fri-14': 1115.0,
 'time.Fri-15': 1275.0,
 'time.Fri-16': 1288.0,
 'time.Fri-17': 1308.0,
 'time.Fri-18': 1308.0,
 'time.Fri-19': 1275.0,
 'time.Fri-2': 1263.0,
 'time.Fri-20': 1214.0,
 'time.Fri-21': 1281.0,
 'time.Fri-22': 1340.0,
 'time.Fri-23': 1505.0,
 'time.Fri-3': 1193.0,
 'time.Fri-4': 1220.0,
 'time.Fri-5': 1118.0,
 'time.Fri-6': 886.0,
 'time.Fri-7': 492.0,
 'time.Fri-8': 204.0,
 'time.Fri-9': 166.0,
 'time.Mon-0': 1421.0,
 'time.Mon-1': 1442.0,
 'time.Mon-10': 482.0,
 'time.Mon-11': 516.0,
 'time.Mon-12': 745.0,
 'time.Mon-13': 1039.0,
 'time.Mon-14': 1215.0,
 'time.Mon-15': 1480.0,
 'time.Mon-16': 1375.0,
 'time.Mon-17': 1283.0,
 'time.Mon-18': 1265.0,
 'time.Mon-19': 1222.0,
 'time.Mon-2': 1397.0,
 'time.Mon-20': 1188.0,
 'time.Mon-21': 1215.0,
 'time.Mon-22': 1112.0,
 'time.Mon-23': 1192.0,
 'time.Mon-3': 1301.0,
 'time.Mon-4': 1220.0,
 'time.Mon-5': 1009.0,
 'time.Mon-6': 656.0,
 'time.Mon-7': 466.0,
 'time.Mon-8': 323.0,
 'time.Mon-9': 193.0,
 'time.Sat-0': 1471.0,
 'time.Sat-1': 1513.0,
 'time.Sat-10': 415.0,
 'time.Sat-11': 362.0,
 'time.Sat-12': 425.0,
 'time.Sat-13': 564.0,
 'time.Sat-14': 857.0,
 'time.Sat-15': 1109.0,
 'time.Sat-16': 1184.0,
 'time.Sat-17': 1193.0,
 'time.Sat-18': 1193.0,
 'time.Sat-19': 1079.0,
 'time.Sat-2': 1491.0,
 'time.Sat-20': 1048.0,
 'time.Sat-21': 1057.0,
 'time.Sat-22': 1012.0,
 'time.Sat-23': 1022.0,
 'time.Sat-3': 1434.0,
 'time.Sat-4': 1559.0,
 'time.Sat-5': 1486.0,
 'time.Sat-6': 1035.0,
 'time.Sat-7': 635.0,
 'time.Sat-8': 494.0,
 'time.Sat-9': 419.0,
 'time.Sun-0': 933.0,
 'time.Sun-1': 998.0,
 'time.Sun-10': 361.0,
 'time.Sun-11': 263.0,
 'time.Sun-12': 497.0,
 'time.Sun-13': 812.0,
 'time.Sun-14': 1011.0,
 'time.Sun-15': 1175.0,
 'time.Sun-16': 1267.0,
 'time.Sun-17': 1302.0,
 'time.Sun-18': 1437.0,
 'time.Sun-19': 1330.0,
 'time.Sun-2': 887.0,
 'time.Sun-20': 1348.0,
 'time.Sun-21': 1368.0,
 'time.Sun-22': 1377.0,
 'time.Sun-23': 1460.0,
 'time.Sun-3': 691.0,
 'time.Sun-4': 726.0,
 'time.Sun-5': 943.0,
 'time.Sun-6': 1141.0,
 'time.Sun-7': 993.0,
 'time.Sun-8': 620.0,
 'time.Sun-9': 392.0,
 'time.Thu-0': 939.0,
 'time.Thu-1': 984.0,
 'time.Thu-10': 397.0,
 'time.Thu-11': 427.0,
 'time.Thu-12': 566.0,
 'time.Thu-13': 734.0,
 'time.Thu-14': 1100.0,
 'time.Thu-15': 1156.0,
 'time.Thu-16': 1117.0,
 'time.Thu-17': 1057.0,
 'time.Thu-18': 1170.0,
 'time.Thu-19': 1081.0,
 'time.Thu-2': 959.0,
 'time.Thu-20': 1136.0,
 'time.Thu-21': 1120.0,
 'time.Thu-22': 1084.0,
 'time.Thu-23': 1153.0,
 'time.Thu-3': 880.0,
 'time.Thu-4': 789.0,
 'time.Thu-5': 612.0,
 'time.Thu-6': 466.0,
 'time.Thu-7': 352.0,
 'time.Thu-8': 174.0,
 'time.Thu-9': 134.0,
 'time.Tue-0': 1129.0,
 'time.Tue-1': 1133.0,
 'time.Tue-10': 383.0,
 'time.Tue-11': 360.0,
 'time.Tue-12': 509.0,
 'time.Tue-13': 702.0,
 'time.Tue-14': 938.0,
 'time.Tue-15': 1184.0,
 'time.Tue-16': 1072.0,
 'time.Tue-17': 1089.0,
 'time.Tue-18': 1012.0,
 'time.Tue-19': 963.0,
 'time.Tue-2': 1148.0,
 'time.Tue-20': 940.0,
 'time.Tue-21': 860.0,
 'time.Tue-22': 849.0,
 'time.Tue-23': 905.0,
 'time.Tue-3': 992.0,
 'time.Tue-4': 881.0,
 'time.Tue-5': 671.0,
 'time.Tue-6': 521.0,
 'time.Tue-7': 344.0,
 'time.Tue-8': 225.0,
 'time.Tue-9': 145.0,
 'time.Wed-0': 827.0,
 'time.Wed-1': 887.0,
 'time.Wed-10': 399.0,
 'time.Wed-11': 375.0,
 'time.Wed-12': 527.0,
 'time.Wed-13': 672.0,
 'time.Wed-14': 966.0,
 'time.Wed-15': 1129.0,
 'time.Wed-16': 1072.0,
 'time.Wed-17': 952.0,
 'time.Wed-18': 933.0,
 'time.Wed-19': 971.0,
 'time.Wed-2': 839.0,
 'time.Wed-20': 900.0,
 'time.Wed-21': 903.0,
 'time.Wed-22': 945.0,
 'time.Wed-23': 1044.0,
 'time.Wed-3': 761.0,
 'time.Wed-4': 624.0,
 'time.Wed-5': 520.0,
 'time.Wed-6': 405.0,
 'time.Wed-7': 282.0,
 'time.Wed-8': 108.0,
 'time.Wed-9': 106.0}

In [34]:
df[df['time.Fri-0']==1132]

,time.Wed-17,time.Wed-2,time.Sun-4,time.Sun-7,time.Mon-12,time.Mon-20,time.Tue-16,time.Thu-22,time.Fri-21,time.Sun-9,...,time.Thu-15,time.Thu-23,time.Sun-8,time.Sun-6,time.Fri-1,time.Fri-17,time.Wed-19,time.Mon-13,time.Sun-3,time.Wed-14
24463,811.0,803.0,330.0,82.0,657.0,952.0,1072.0,1084.0,1199.0,10.0,...,1156.0,1028.0,23.0,173.0,1332.0,977.0,823.0,929.0,424.0,966.0