In [1]:
import numpy as np
import pandas as pd
import csv
import json
import matplotlib.pyplot as plt
from datetime import datetime

%matplotlib inline

Install nltk library

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as sia
hal = sia()

/Users/bpadalkar/anaconda3/lib/python3.6/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [27]:
#Use appropriate JSON code.
PATH_TO_FILE = "yelp_academic_dataset_review"
reviews = pd.read_csv(PATH_TO_FILE+".csv")
df = reviews.head(50)

Now, you should have the rows u want from review table loaded in df. The following part will use only text column of reviews in df to calculate sentiment score.

# OPTION 1: All scores (dict) + One type of score (float) - 2 new columns in df

u will have all scores i.e. pos/neg/neu/compound and also individual float values from score type u specify for further analysis --- even though nltk runs model only once. If you do not want all_sentiment score, but just individual score of 1 type only.. run option 2

In [15]:
df['all_sentiment_score'] = df['text'].replace('b"',"").apply(lambda x: hal.polarity_scores(x))

/Users/bpadalkar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
score_type = "compound" # can also be 'neg' or 'neu' or 'pos' depending on which score u want.. pls replace only this string
df["sentiment_"+score_type+"_score"] = df['all_sentiment_score'].apply(lambda x: float(x[score_type]))

/Users/bpadalkar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
df.head(5)

,useful,date,text,stars,review_id,user_id,funny,business_id,cool,all_sentiment_score,sentiment_compound_score
0,0,b'2011-02-25',"b""The pizza was okay. Not the best I've had. I...",2,b'x7mDIiDB3jEiPGPHOmDzyw',b'msQe1u7Z_XuqjGoqhB0J5g',0,b'iCQpiavjjPzJ5_3gPD5Ebg',0,"{'neg': 0.053, 'neu': 0.751, 'pos': 0.197, 'co...",0.9247
1,0,b'2012-11-13',b'I love this place! My fiance And I go here a...,5,b'dDl8zu1vWPdKGihJrwQbpw',b'msQe1u7Z_XuqjGoqhB0J5g',0,b'pomGBqfbxcqPv14c3XH-ZQ',0,"{'neg': 0.0, 'neu': 0.615, 'pos': 0.385, 'comp...",0.9841
2,3,b'2014-10-23',b'Terrible. Dry corn bread. Rib tips were all ...,1,b'LZp4UX5zK3e-c5ZGSeo3kA',b'msQe1u7Z_XuqjGoqhB0J5g',1,b'jtQARsP6P-LbkyjbO1qNGg',1,"{'neg': 0.065, 'neu': 0.799, 'pos': 0.136, 'co...",0.3400
3,2,b'2011-02-25',b'Back in 2005-2007 this place was my FAVORITE...,2,b'Er4NBWCmCD4nM8_p1GRdow',b'msQe1u7Z_XuqjGoqhB0J5g',0,b'elqbBhBfElMNSrjFqW3now',0,"{'neg': 0.099, 'neu': 0.796, 'pos': 0.106, 'co...",0.6576
4,0,b'2014-09-05',b'Delicious healthy food. The steak is amazing...,5,b'jsDu6QEJHbwP2Blom1PLCA',b'msQe1u7Z_XuqjGoqhB0J5g',0,b'Ums3gaP2qM3W1XcA5r6SsQ',0,"{'neg': 0.087, 'neu': 0.596, 'pos': 0.317, 'co...",0.8516

# OPTION 2: One type of score (float) --- 1 new columns in df

In [29]:
score_type = "compound" # can also be 'neg' or 'neu' or 'pos' depending on which score u want.. pls replace only this string
df["sentiment_"+score_type+"_score"] = df['text'].replace('b"',"").apply(lambda x: hal.polarity_scores(x.replace('b"',""))['compound'])

/Users/bpadalkar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
df.head(5)

,useful,date,text,stars,review_id,user_id,funny,business_id,cool,sentiment_compound_score
0,0,b'2011-02-25',"b""The pizza was okay. Not the best I've had. I...",2,b'x7mDIiDB3jEiPGPHOmDzyw',b'msQe1u7Z_XuqjGoqhB0J5g',0,b'iCQpiavjjPzJ5_3gPD5Ebg',0,0.9247
1,0,b'2012-11-13',b'I love this place! My fiance And I go here a...,5,b'dDl8zu1vWPdKGihJrwQbpw',b'msQe1u7Z_XuqjGoqhB0J5g',0,b'pomGBqfbxcqPv14c3XH-ZQ',0,0.9841
2,3,b'2014-10-23',b'Terrible. Dry corn bread. Rib tips were all ...,1,b'LZp4UX5zK3e-c5ZGSeo3kA',b'msQe1u7Z_XuqjGoqhB0J5g',1,b'jtQARsP6P-LbkyjbO1qNGg',1,0.3400
3,2,b'2011-02-25',b'Back in 2005-2007 this place was my FAVORITE...,2,b'Er4NBWCmCD4nM8_p1GRdow',b'msQe1u7Z_XuqjGoqhB0J5g',0,b'elqbBhBfElMNSrjFqW3now',0,0.6576
4,0,b'2014-09-05',b'Delicious healthy food. The steak is amazing...,5,b'jsDu6QEJHbwP2Blom1PLCA',b'msQe1u7Z_XuqjGoqhB0J5g',0,b'Ums3gaP2qM3W1XcA5r6SsQ',0,0.8516